services:
  mariadb:
    image: mariadb:lts
    environment:
      - ALLOW_EMPTY_PASSWORD=no

  familyfund:
    tty: true
    build: .
    environment:
      - DB_HOST=mariadb
    depends_on:
      - mariadb
    extra_hosts:
      - noreply.domain.com:127.0.0.1
    volumes:
      - ./family-fund-app:/app
      - ./family-fund-app/docker_tmp:/tmp

  mailhog:
    image: mailhog/mailhog
    logging:
      driver: 'none'
    restart: on-failure
    volumes:
      - ./mailhog-outgoing.json:/etc/mailhog-outgoing.json:ro
    command: ["-outgoing-smtp", "/etc/mailhog-outgoing.json"]

  quickchart:
    image: ianw/quickchart
    restart: on-failure
