# Environment-specific overrides using env vars from dc.sh
# Do not use directly - use ./dc.sh <nickname> instead

services:
  mariadb:
    container_name: db-${FF_NICKNAME:-dev}
    environment:
      - ALLOW_EMPTY_PASSWORD=no
      - MARIADB_USER=famfun_dev
      - MARIADB_DATABASE=${FF_DB_NAME:-familyfund_dev}
      - MARIADB_PASSWORD=1234
      - MARIADB_ROOT_PASSWORD=123456
    ports:
      - ${FF_DB_PORT:-3306}:3306
    volumes:
      - ${FF_DATADIR:-./datadir_dev}:/var/lib/mysql

  familyfund:
    container_name: familyfund-${FF_NICKNAME:-dev}
    environment:
      - DB_DATABASE=${FF_DB_NAME:-familyfund_dev}
      - DB_USERNAME=root
      - DB_PASSWORD=123456
      - APP_ENV=local
    ports:
      - ${FF_APP_PORT:-3000}:8000

  mailhog:
    container_name: mail-${FF_NICKNAME:-dev}
    ports:
      - ${FF_MAIL_SMTP_PORT:-1025}:1025
      - ${FF_MAIL_UI_PORT:-8025}:8025

  quickchart:
    container_name: quickchart-${FF_NICKNAME:-dev}
    ports:
      - ${FF_CHART_PORT:-3400}:3400
